<div class="container-fluid">
    <div class="row sticky-top bg-light">
        <div class="p-4">
            <img src="../assets/images/resonance.webp" >
        </div> 
    </div>

        <div class="row">
            <div class="col-sm-2 ">
                <nav class="sidebar card py-2 mb-4  bg-light" style="height: 650px;">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ms-3 p-1 fw-bold" href="#"> DASHBOARD </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Submenu links <b class="float-end">&raquo;</b> </a>
                            <ul class="submenu dropdown-menu">
                                <li><a class="nav-link" routerLink="profile">Profile</a></li>
                                <li><a class="nav-link" routerLink="login">Login</a></li>
                                <li><a class="nav-link" href="#">Submenu item 3 </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Treeview category <b class="float-end">&raquo;</b> </a>
                            <ul class="submenu dropdown-menu">
                                <li><a class="nav-link" href="#">Submenu item 1 </a></li>
                                <li><a class="nav-link" href="#">Submenu item 2 </a></li>
                                <li><a class="nav-link" href="#">Submenu item 3 <b class="float-end">&raquo;</b> </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="nav-link" href="#">Multi level 1</a></li>
                                        <li><a class="nav-link" href="#">Multi level 2</a></li>
                                        <li><a class="nav-link" href="#">Multi level 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="home">Home</a>
                        </li>
                    
                    </ul>
                    </nav>
            </div>
            <div class="col-sm-10">
                <router-outlet></router-outlet>
            </div>
            
        </div>

</div>